{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/formulario.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<main id="form_container">
    <div id="form_header">
        <h1 id="form_titulo">Criar conta</h1>
        <button class="btn-padrao" onclick="window.location.href='{{ url_for('auth.login') }}'">
            <i class="fa-solid fa-right-to-bracket"></i>
        </button>
    </div>

    <form method="POST" id="form">
        {{ form.hidden_tag() }}
        
        <div id="input_container">
            <div class="input-box">
                {{ form.nome.label(class="form-label") }}
                <div class="input-field">
                    {{ form.nome(class="form-control", placeholder="Ex.: João Silva") }}
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>

            <div class="input-box">
                {{ form.cpf.label(class="form-label") }}
                <div class="input-field">
                    {{ form.cpf(class="form-control", placeholder="Ex.: 12345678900") }}
                    <i class="fa-regular fa-id-card"></i>
                </div>
            </div>

            <div class="input-box">
                {{ form.aniversario.label(class="form-label") }}
                <div class="input-field">
                    {{ form.aniversario(class="form-control") }}
                    <i class="fa-solid fa-calendar-day"></i>
                </div>
            </div>

            <div class="input-box">
                {{ form.email.label(class="form-label") }}
                <div class="input-field">
                    {{ form.email(class="form-control", placeholder="Ex.: joao@email.com") }}
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>

            <div class="input-box">
                {{ form.senha.label(class="form-label") }}
                <div class="input-field">
                    {{ form.senha(class="form-control", placeholder="********") }}
                    <i class="fa-regular fa-eye-slash password-icone"></i>
                </div>
            </div>

            <div class="input-box">
                {{ form.confirmar_senha.label(class="form-label") }}
                <div class="input-field">
                    {{ form.confirmar_senha(class="form-control", placeholder="********") }}
                    <i class="fa-regular fa-eye-slash password-icone"></i>
                </div>
            </div>

            <div class="input-box">
                {{ form.tipo.label(class="form-label") }}
                <div class="input-field">
                    {{ form.tipo(class="form-select") }}
                </div>
            </div>
        </div>

        {{ form.submit(class="btn-padrao") }}
    </form>
</main>

<script src="{{ url_for('static', filename='javascript/formulario.js') }}"></script>
{% endblock %}
